---
- name: Set git global user.name
  community.general.git_config:
    name: user.name
    value: "{{ git_user_name }}"
    scope: global
  when: git_user_name | length > 0

- name: Set git global user.email
  community.general.git_config:
    name: user.email
    value: "{{ git_user_email }}"
    scope: global
  when: git_user_email | length > 0
