---
- name: Write global gitignore file
  ansible.builtin.copy:
    dest: "{{ ansible_facts['user_dir'] }}/.gitignore_global"
    content: "{{ git_global_ignore | join('\n') }}\n"
    mode: "0644"

- name: Set git global core.excludesFile
  community.general.git_config:
    name: core.excludesFile
    value: "{{ ansible_facts['user_dir'] }}/.gitignore_global"
    scope: global
