---
- name: Ensure ~/.config/git directory exists
  ansible.builtin.file:
    path: "{{ ansible_facts['user_dir'] }}/.config/git"
    state: directory
    mode: "0755"

- name: Write global gitignore file
  ansible.builtin.template:
    src: gitignore_global.j2
    dest: "{{ ansible_facts['user_dir'] }}/.config/git/ignore"
    mode: "0644"
