#
# Environment variables for setup.sh
#

# Download this file as setup.env 
# curl -sSfL -o setup.env https://raw.githubusercontent.com/maodevops/ansible-collection-mac/refs/heads/main/setup.env.example
#
# Change the vars in setup.env and source the file before running the setup.sh script
#

# Directory where the repo should be cloned into
# export CLONE_DIR="${HOME}/code/github.com/maodevops/ansible-collection-mac"

# Ansible virtualenv directory
# export VENV_DIR="${HOME}/.venvs/ansible-latest"

# Your GitHub info
MY_GIT_USER_NAME=""
MY_GIT_USER_EMAIL=""
