---
- name: Setup Mac workstation
  hosts: localhost
  connection: local
  gather_facts: true

  vars_files:
    - "{{ playbook_dir }}/../../../../vars/base.yml"

  pre_tasks:
    - name: Load user variable overrides
      ansible.builtin.include_vars:
        file: "{{ playbook_dir }}/../../../../vars/user.yml"
      when: lookup('ansible.builtin.fileglob', playbook_dir + '/../../../../vars/user.yml') | length > 0

  roles:
    - role: maodevops.mac.brew

    - role: maodevops.mac.git
